.head{
    background-color: lightskyblue;
    height: 150px;
    background-image: url(../img/pattern.png);
}

.inner{
    background-image: url(../img/logo.svg);
    background-position-x: left;
    background-position-y: bottom;
}

.backlgr{
    color: lightgrey;
}

.backgr{
    color:gray;
}

.autore{
    color: lightblue;
}

.backyel{
    background-color: yellow;
}

.backcy{
    background-color: cyan;
}

.backlcy{
    background-color: lightcyan;
}

.schermo{
    color: white;
    background-image: url(../img/graph.jpg);
    height: 207px;
    background-repeat: no-repeat;
}

.display{
    color: white;
    background-image: url(../img/monitor.jpg);
    height: 207px;
    background-repeat: no-repeat;
}